body
{
	background-color: maroon;
	color:white;
	text-align: center;
}

h1
{
	font-weight: bold;
	font-size: 2em;
	font-family: verdana;
}

a
{
	text-decoration: none;
	text-transform: uppercase;
	padding-right: 10px;
}